#game {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#game div {
  border: 1px solid black;
  border-radius: 10%;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;

}

h1{
text-align: center;
font-size: 4em;
}

body{
  background-color: rgb(255, 245, 232);
}
